<%=content_for :title do %>
  <title>HOME</title>
<%end%>

<div class="product">
  <%@main_products.each do |product|%>
    <div class="product-main product-single">
      <div class="thumbnail">
        <%=image_tag(product.cover_url)%>
      </div>
        <div class="caption">
          <div class="about first-page">
            <a href="/about_us.html">ABOUT US</a>
          </div>
          <div class="text">
            <%=raw @about.content.html_safe%>
          </div>
          <a href="/about_us.html" class="more">READ MORE&nbsp;&gt;&gt;</a>
        </div>
    </div>
  <%end%>
  <div class="product-recommend clearfix">
    <%@list_products.each_with_index do |product,index|%>
      <div class="item <%='left-item' if index==0%>">
        <div class="thumbnail">
          <a href="/products" target="_blank">
            <img data-src="<%=product.cover_url%>/100%x200" alt="100%x200" src="<%=product.cover_url%>" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
          </a>
          <div class="caption">
            <h3><a href="/products" target="_blank"><%=product.name%></a></h3>
            <p><%=product.description%></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
