<%=content_for :title do %>
  <title>PRODUCT LIST</title>
<%end%>
<%=render "shareds/left"%>
<div class="product-list clearfix">
  <%@products.each do |product|%>
    <div class="product-main product-list-one">
      <div class="thumbnail">
        <a href="/products/<%=product.id%>" class="img-box">
          <%=image_tag(product.cover_url)%>
        </a>
      </div>
      <div class="caption">
        <div class="text">
          <p><%=product.description%></p>
        <p>
          <a href="/products/<%=product.id%>">MORE&nbsp;&gt;&gt;</a>
        </p>
        </div>
      </div>
    </div>
  <%end%>
  <div class="pagination">
    <%if @products.present?%>
      <div align="center">
        <%= paginate @products, :window => 3 %> 
       </div>
    <%end%>
  </div>
</div>
