<%=content_for :title do %>
  <title><%=@product.name%>--PRODUCT</title>
<%end%>
<%=render "shareds/left"%>
<div class="product-info">
  <div class="image">
    <img src="<%=@product.cover_url%>" width=
    "274" height="200">
  </div>
  <div class="caption">
    <h3><%=@product.name%></h3>
    <div class="text info">
      <p><%=@product.description%></p>
    </div>
  </div>
</div>