<!DOCTYPE html>
<html>
<head>
  <title>SOS管理后台</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <%if admin_signed_in?%>
    <%=render "layouts/admin/navgation"%>
  <%end%>
  <div id="<%='page-wrapper' if admin_signed_in?%>">
    <%= yield %>
  </div>
</div>
<%= yield(:js)%>
</body>
</html>
